*
{
    box-sizing: border-box;
}

body
{
    background-color: rgb(216, 255, 249);
}

.row div
{
    border: 5px solid rgb(216, 255, 249);
    height: 4rem;
}

.cell {
    background-color: rgb(255, 200, 255);
    border: 1px solid black;
    }

.row.blue div{
    background-color: blue;
    height: 6rem;
}    

.row.orange div
{
    background-color: orange;
    height: 12rem;

}

.row.green div
{
    background-color: green;
    height: 8rem;
}

.row.red div
{
    background-color: red;
    height: 6rem;
}